
/*body {
  background-color: #f5f5ef !important;
}*/
.content{
  background: #f5f5ef !important;
}

.main-navigation-bar a {
  color: #ffffff !important;
}

.main-navigation-bar {
  background-color: #981b6e;
}