body a {
  color: #981b6e;
}

/*news page*/
body div.nyheder-content div.os2sub-box-body .view.view-os2sub-nyheder.view-id-os2sub_nyheder.view-display-id-page .view-content a:active .os2sub-box .top-border,
body div.nyheder-content div.os2sub-box-body .view.view-os2sub-nyheder.view-id-os2sub_nyheder.view-display-id-page .view-content a:hover .os2sub-box .top-border {
  border-top-color: #981b6e;
}

/*front page aktuelt block*/
body .news-spot-link:hover {
  border-top: 4px solid #981b6e;
}

/*front page banner*/
body .banner .banner-wrapper a,
body .banner .banner-wrapper a:hover,
body .banner .banner-wrapper a:active,
field.field-name-field-os2web-base-field-media.field-type-file .field-items .field-item,
body .os2-node-teaser-heading::before,
body .main-navigation-bar::before,
body .footer .footer-branding,
.field.field-name-field-os2web-base-field-media.field-type-file .field-items .field-item,
.file {
  background-color: #981b6e;
}
body #main-navigation-bar a {
  color: #ffffff;
}
body #main-navigation-bar a.active-trail {
  background-color: #ffffff;
  color: #981b6e
}

body .footer .footer-branding {
  color: #ffffff;
}

.page-nyheder .os2sub-box-body .view.view-os2sub-nyheder.view-id-os2sub_nyheder.view-display-id-page .view-content a:hover .os2sub-box .top-border {
  border-top-color:  #981b6e;
}
.btn-primary {
    background-color: #981B6E !important;
    border-color: #981B6E !important;
    }
.main-navigation-bar .btn-primary,
.main-navigation-bar input[type="text"] {
  border-color: #ffffff !important;
  color: #ffffff;
}